
/* CSS declarations go here */

.top-bar{
    background-color: white;
    margin-bottom:0px;
    padding-top:0px;
    border-bottom: 1px solid black;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    min-height: 80%;
    background: white;
}

.home-box{
    border:1px solid blue;
    margin:10px;
    min-height: 600px;
    padding:5px;
}

.bars{
    background-color: #918e82;
}

.img-center{
    margin:auto;
}

footer {
    height: 80px;
}

