<template name="patronDash">
<div class="container">
	<h1 class="page-title">Dashboard - Patron:</h1>
	<h3>Welcome {{first}} {{last}}</h3>
	<!--<button class="send">Email</button>
	<button class="textMsg">SMS</button>-->
	<label class="email">
		<input type="checkbox">
		Email
	</label>
	<label class="sms">
		<input type="checkbox">
		SMS
	</label>
	<br>
	<br>
	<form>
		Show me resturants in:<input type="text" name="searchArea">
		Party size:<input type="text" name="searchSize" value="4">
		<input class="btn btn-primary" type="submit" value="Search">
	</form>
	<div style="height: 500px; overflow:auto; border: 1px solid black">
		<ul style="padding:0px;">
		  {{#each rests}}
			{{> rest2}}
		  {{/each}}
		</ul>
	</div>
</div>
</template>

<template name="rest2">
	<li class="rest-list">
		<button class="accordion">
			{{name}}, {{location}} <span style="color:red;">{{inQue.name}}</span>:  <span style="float:right">Current wait time {{#if $.Session.equals 'party' '1'}} {{waits.one}} {{/if}}
																																						{{#if $.Session.equals 'party' '2'}} {{waits.two}} {{/if}}
																																						{{#if $.Session.equals 'party' '3'}} {{waits.three}} {{/if}}
																																						{{#if $.Session.equals 'party' '4'}} {{waits.four}} {{/if}}
																																						{{#if $.Session.equals 'party' '5'}} {{waits.five}} {{/if}}
																																						{{#if $.Session.equals 'party' '6+'}} {{waits.sixUp}} {{/if}}mins</span>
		</button>
		<div class="panel">
			{{#if $eq inQue.status "**IN LINE**"}}
			<button class="get-out-line" >Get Out Of Line</button>
			{{else}}
			<button class="get-in-line" >Get In Line </button>
			{{/if}}
			<button class="reserve" >Reserve Table</button>
		</div>
	</li>
</template>
